require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/version'
require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/lib'
require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/person'
# require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/classic'{{#executable}}
require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/app'
require '{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/cli'{{/executable}}
