%module "{{parent}}{{^parent}}introrb{{/parent}}{{joiner}}{{^joiner}}::{{/joiner}}{{project}}{{^project}}util{{/project}}::classic_c"

%{
#include <stdlib.h>
#include "intro_c/classic.h"
%}

%include "intro_c/classic.h"
//extern unsigned long fact_i(const unsigned int n);
//extern unsigned long fact_lp(const unsigned int n);

//extern float expt_i(const float b, const float n);
//extern float expt_lp(const float b, const float n);

// swig -ruby -v -I$(prefix)/include -outdir ext/classic_c ext/classic_c/classic_c.i
// (cd ext/classic_c ; env prefix=$(prefix) ruby extconf.rb --srcdir=. [--with-classic_c-dir=$(prefix)] ; make)
// cp ext/classic_c/classic_c.so lib/{{nesteddirs}}{{^nesteddirs}}introrb/util{{/nesteddirs}}/
