module {{parentcap}}{{^parentcap}}Introrb{{/parentcap}}; end

module {{parentcap}}{{^parentcap}}Introrb{{/parentcap}}{{joiner}}{{^joiner}}::{{/joiner}}{{projectcap}}{{^projectcap}}Util{{/projectcap}}
  VERSION = '{{version}}{{^version}}0.1.0{{/version}}'
end
