--- !ruby/object:RDoc::Options
encoding: UTF-8
rdoc_include:
  - .
main_page: README{{readmeext}}{{^readmeext}}.rst{{/readmeext}}
tab_width: 4
title: {{name}}{{^name}}introrb-util{{/name}} Documentation
op_dir: build/doc
